.gpt3__whatgpt3 {
  color: white;
  display: flex;
  flex: 1;
  padding: 3rem;
  flex-direction: column;
  background: radial-gradient(circle at 15% 55%, #0754a7 0%, #040c18 100%);
  font-family: var(--font-family);
}
.gpt3__whatgpt3-feature {
  display: flex;
}

.gpt3__features-component {
  display: flex;
  flex-direction: row;
}

.gpt3__whatgpt3-heading {
  display: flex;
  margin: 5rem 0;
  justify-content: space-between;
}
.gpt3__whatgpt3-heading h1 {
  font-size: 34px;
  flex: 0.6;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
}

.gpt3__whatgpt3-heading p {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  margin: auto 0;
  color: var(--color-subtext);
  cursor: pointer;
}

.gpt3__whatgpt3-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .gpt3__features-component.gpt3__features-container__feature-title p {
    width: 80%;
    margin-left: auto;
  }
  .gpt3__whatgpt3-heading h1 {
    font-size: 28px;
  }

  .gpt3__whatgpt3-container {
    flex-wrap: wrap;
  }
  .gpt3__whatgpt3-container .gpt3__features-container__feature {
    flex: 1;
  }
}

@media screen and (max-width: 850px) {
  .gpt3__features-component {
    flex-direction: column;
    width: 100%;
    flex: 1;
  }

  .gpt3__features-component .gpt3__feature-title h1 {
    margin-bottom: 0.5rem;
  }
  .gpt3__features-component .gpt3__features-container__feature-text p {
    margin: 0;
  }
  .gpt3__feature-title h1 {
    margin-bottom: 0.5rem;
    padding-bottom: 0;
  }

  .gpt3__whatgpt3-heading {
    margin: 3rem 1rem;
    flex-direction: column;
  }
  .gpt3__whatgpt3-heading p {
    margin-top: 1rem;
    text-align: start;
  }
}
@media screen and (max-width: 650px) {
  .gpt3__whatgpt3-container {
    flex-direction: column;
  }
  .gpt3__whatgpt3-heading {
    margin: 1.5rem 1rem 2rem;
  }
  .gpt3__whatgpt3-heading h1 {
    font-size: 25px;
    line-height: 35px;
  }
  .gpt3__feature-title h1 {
    font-size: 20px;
  }
  .gpt3__features-container__feature-text p {
    font-size: 15px;
  }
}

@media screen and (max-width: 450px) {
  .gpt3__whatgpt3 {
    padding: 1rem;
  }
  .gpt3__features-component.gpt3__features-container__feature-title p {
    width: 100%;
    margin-left: auto;
  }
  .gpt3__whatgpt3-heading h1 {
    font-size: 25px;
    line-height: 30px;
  }
}
