.gpt3__footer {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  background: var(--color-footer);
}

.gpt3__footer-heading {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
}
.gpt3__footer-heading h1 {
  font-size: 52px;
  font-weight: 800;
  line-height: 75px;
  text-align: center;
  width: 75%;
}
.gpt3__footer-heading button {
  font-size: 15px;
  font-weight: 500;
  width: 218px;
  margin: 3rem 0 0 0;
  cursor: pointer;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid white;
}
.gpt3__footer-heading button:hover {
  color: var(--color-footer);
  background-color: white;
  border: 1px solid grey;
}

.gpt3__footer-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.gpt3__footer-links_logo {
  padding: 3rem;
  width: 100%;
  margin-right: 6rem;
}
.gpt3__footer-links_logo img {
  width: 118px;
  align-self: flex-start;
}
.gpt3__footer-links_logo p {
  font-size: 12px;
  line-height: 20px;
  margin-top: 2rem;
}
.gpt3__footer-links_div {
  width: 100%;
  padding: 3rem;
}
.gpt3__footer-links_div h4 {
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 1rem;
}
.gpt3__footer-links_div p {
  font-size: 12px;
  line-height: 20px;
  padding-bottom: 1rem;
  cursor: pointer;
}
.gpt3__footer-copyright {
  font-size: 12px;
  line-height: 14px;
  margin-top: 2rem;
}

@media screen and (max-width: 950px) {
  .gpt3__footer-heading h1 {
    width: 100%;
  }
  .gpt3__footer-links_logo {
    margin-right: 3rem;
  }
  .gpt3__footer-links_logo img {
    width: 100%;
  }
  .gpt3__footer-links_div {
    width: 100%;
    padding: 3rem 2rem;
  }
}

@media screen and (max-width: 750px) {
  .gpt3__footer-heading h1 {
    font-size: 42px;
    line-height: 50px;
  }
  .gpt3__footer-links_logo {
    padding: 3rem 0;
  }
  .gpt3__footer-links_div {
    width: 100%;
    padding: 3rem 1rem;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__footer-heading {
    margin: 1rem 0;
  }
  .gpt3__footer-heading h1 {
    font-size: 35px;
    line-height: 45px;
  }
  .gpt3__footer-heading button {
    margin: 2rem 0 3rem 0;
  }
  .gpt3__footer-links {
    flex-direction: column;
    text-align: center;
  }
  .gpt3__footer-links_div {
    width: 100%;
    padding: 1rem 0;
  }
  .gpt3__footer-links_logo {
    padding: 1rem 0 3rem 0;
  }
  .gpt3__footer-links_logo img {
    width: 20%;
  }
}
